--
-- PostgreSQL database cluster dump
--

\restrict i92ppzWL5ENCpq8DY6PKBCWoc7r93EYLYZEWqgYf76fOJvtDc2kVjAkmBARJeZ6

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:lPbkLxJDUEH174awoUebag==$/XvgAcD1lTedBWnrGBBJxBtur6H0+Cbls0Zr5zAQE4A=:hp9wbpe9kIDMr7J2wgTgDG6oiPfaDYeKkq1pypI0RIA=';

--
-- User Configurations
--








\unrestrict i92ppzWL5ENCpq8DY6PKBCWoc7r93EYLYZEWqgYf76fOJvtDc2kVjAkmBARJeZ6

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict vhb7b8wmo6ona5VrFBaabxpGZeOhMNqcdbg6TVohX6QeyFUjsD0yMq81ubmObPh

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict vhb7b8wmo6ona5VrFBaabxpGZeOhMNqcdbg6TVohX6QeyFUjsD0yMq81ubmObPh

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict hkVAawXBNhMG2PgugjPdnZr2yvZNxD20pLsd5buhoSPCQgFn1EcmYViK3mrKnRO

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict hkVAawXBNhMG2PgugjPdnZr2yvZNxD20pLsd5buhoSPCQgFn1EcmYViK3mrKnRO

--
-- Database "synapxix_db" dump
--

--
-- PostgreSQL database dump
--

\restrict 39TcpO336cL8T5KDGibESVqpCy91TzZRZ4MsGDkZVz3UNol6yhQ5fENyoWsElP4

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: synapxix_db; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE synapxix_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE synapxix_db OWNER TO postgres;

\unrestrict 39TcpO336cL8T5KDGibESVqpCy91TzZRZ4MsGDkZVz3UNol6yhQ5fENyoWsElP4
\connect synapxix_db
\restrict 39TcpO336cL8T5KDGibESVqpCy91TzZRZ4MsGDkZVz3UNol6yhQ5fENyoWsElP4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: audit; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA audit;


ALTER SCHEMA audit OWNER TO postgres;

--
-- Name: auth; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA auth;


ALTER SCHEMA auth OWNER TO postgres;

--
-- Name: communication; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA communication;


ALTER SCHEMA communication OWNER TO postgres;

--
-- Name: core; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA core;


ALTER SCHEMA core OWNER TO postgres;

--
-- Name: knowledge; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA knowledge;


ALTER SCHEMA knowledge OWNER TO postgres;

--
-- Name: psychometrics; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA psychometrics;


ALTER SCHEMA psychometrics OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: audit; Owner: postgres
--

CREATE TABLE audit.audit_log (
    audit_id integer NOT NULL,
    user_id integer,
    table_name character varying(100) NOT NULL,
    record_id integer,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    details jsonb
);


ALTER TABLE audit.audit_log OWNER TO postgres;

--
-- Name: audit_log_audit_id_seq; Type: SEQUENCE; Schema: audit; Owner: postgres
--

CREATE SEQUENCE audit.audit_log_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE audit.audit_log_audit_id_seq OWNER TO postgres;

--
-- Name: audit_log_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: audit; Owner: postgres
--

ALTER SEQUENCE audit.audit_log_audit_id_seq OWNED BY audit.audit_log.audit_id;


--
-- Name: app_user; Type: TABLE; Schema: auth; Owner: postgres
--

CREATE TABLE auth.app_user (
    user_id integer NOT NULL,
    username character varying(150) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash text NOT NULL,
    firstname character varying(150) NOT NULL,
    lastname character varying(150) NOT NULL,
    role character varying(150) DEFAULT 'user'::character varying NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE auth.app_user OWNER TO postgres;

--
-- Name: app_user_user_id_seq; Type: SEQUENCE; Schema: auth; Owner: postgres
--

CREATE SEQUENCE auth.app_user_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE auth.app_user_user_id_seq OWNER TO postgres;

--
-- Name: app_user_user_id_seq; Type: SEQUENCE OWNED BY; Schema: auth; Owner: postgres
--

ALTER SEQUENCE auth.app_user_user_id_seq OWNED BY auth.app_user.user_id;


--
-- Name: session; Type: TABLE; Schema: auth; Owner: postgres
--

CREATE TABLE auth.session (
    session_id integer NOT NULL,
    user_id integer,
    token text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE auth.session OWNER TO postgres;

--
-- Name: session_session_id_seq; Type: SEQUENCE; Schema: auth; Owner: postgres
--

CREATE SEQUENCE auth.session_session_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE auth.session_session_id_seq OWNER TO postgres;

--
-- Name: session_session_id_seq; Type: SEQUENCE OWNED BY; Schema: auth; Owner: postgres
--

ALTER SEQUENCE auth.session_session_id_seq OWNED BY auth.session.session_id;


--
-- Name: user_link; Type: TABLE; Schema: auth; Owner: postgres
--

CREATE TABLE auth.user_link (
    link_id integer NOT NULL,
    id_user_from integer,
    id_user_to integer,
    link_type character varying(100) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE auth.user_link OWNER TO postgres;

--
-- Name: user_link_link_id_seq; Type: SEQUENCE; Schema: auth; Owner: postgres
--

CREATE SEQUENCE auth.user_link_link_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE auth.user_link_link_id_seq OWNER TO postgres;

--
-- Name: user_link_link_id_seq; Type: SEQUENCE OWNED BY; Schema: auth; Owner: postgres
--

ALTER SEQUENCE auth.user_link_link_id_seq OWNED BY auth.user_link.link_id;


--
-- Name: user_structure; Type: TABLE; Schema: auth; Owner: postgres
--

CREATE TABLE auth.user_structure (
    user_id integer NOT NULL,
    structure_id integer NOT NULL
);


ALTER TABLE auth.user_structure OWNER TO postgres;

--
-- Name: notification; Type: TABLE; Schema: communication; Owner: postgres
--

CREATE TABLE communication.notification (
    notification_id integer NOT NULL,
    user_id integer,
    title character varying(150) NOT NULL,
    message text,
    read boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE communication.notification OWNER TO postgres;

--
-- Name: notification_notification_id_seq; Type: SEQUENCE; Schema: communication; Owner: postgres
--

CREATE SEQUENCE communication.notification_notification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE communication.notification_notification_id_seq OWNER TO postgres;

--
-- Name: notification_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: communication; Owner: postgres
--

ALTER SEQUENCE communication.notification_notification_id_seq OWNED BY communication.notification.notification_id;


--
-- Name: institution; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.institution (
    institution_id integer NOT NULL,
    name character varying(150),
    description text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE core.institution OWNER TO postgres;

--
-- Name: institution_institution_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.institution_institution_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.institution_institution_id_seq OWNER TO postgres;

--
-- Name: institution_institution_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.institution_institution_id_seq OWNED BY core.institution.institution_id;


--
-- Name: structure; Type: TABLE; Schema: core; Owner: postgres
--

CREATE TABLE core.structure (
    structure_id integer NOT NULL,
    institution_id integer NOT NULL,
    name character varying(150) NOT NULL,
    parent_id integer,
    description text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE core.structure OWNER TO postgres;

--
-- Name: structure_structure_id_seq; Type: SEQUENCE; Schema: core; Owner: postgres
--

CREATE SEQUENCE core.structure_structure_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.structure_structure_id_seq OWNER TO postgres;

--
-- Name: structure_structure_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: postgres
--

ALTER SEQUENCE core.structure_structure_id_seq OWNED BY core.structure.structure_id;


--
-- Name: content; Type: TABLE; Schema: knowledge; Owner: postgres
--

CREATE TABLE knowledge.content (
    content_id integer NOT NULL,
    title text NOT NULL,
    description text,
    prerequisite_id integer,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE knowledge.content OWNER TO postgres;

--
-- Name: content_content_id_seq; Type: SEQUENCE; Schema: knowledge; Owner: postgres
--

CREATE SEQUENCE knowledge.content_content_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE knowledge.content_content_id_seq OWNER TO postgres;

--
-- Name: content_content_id_seq; Type: SEQUENCE OWNED BY; Schema: knowledge; Owner: postgres
--

ALTER SEQUENCE knowledge.content_content_id_seq OWNED BY knowledge.content.content_id;


--
-- Name: user_content_progress; Type: TABLE; Schema: knowledge; Owner: postgres
--

CREATE TABLE knowledge.user_content_progress (
    user_id integer NOT NULL,
    content_id integer NOT NULL,
    completed boolean DEFAULT false NOT NULL,
    progress double precision,
    last_update timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE knowledge.user_content_progress OWNER TO postgres;

--
-- Name: archetype; Type: TABLE; Schema: psychometrics; Owner: postgres
--

CREATE TABLE psychometrics.archetype (
    archetype_id integer NOT NULL,
    dimension_id integer,
    name character varying(150) NOT NULL,
    description text
);


ALTER TABLE psychometrics.archetype OWNER TO postgres;

--
-- Name: archetype_archetype_id_seq; Type: SEQUENCE; Schema: psychometrics; Owner: postgres
--

CREATE SEQUENCE psychometrics.archetype_archetype_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE psychometrics.archetype_archetype_id_seq OWNER TO postgres;

--
-- Name: archetype_archetype_id_seq; Type: SEQUENCE OWNED BY; Schema: psychometrics; Owner: postgres
--

ALTER SEQUENCE psychometrics.archetype_archetype_id_seq OWNED BY psychometrics.archetype.archetype_id;


--
-- Name: dimension; Type: TABLE; Schema: psychometrics; Owner: postgres
--

CREATE TABLE psychometrics.dimension (
    dimension_id integer NOT NULL,
    name character varying(150) NOT NULL,
    description text
);


ALTER TABLE psychometrics.dimension OWNER TO postgres;

--
-- Name: dimension_dimension_id_seq; Type: SEQUENCE; Schema: psychometrics; Owner: postgres
--

CREATE SEQUENCE psychometrics.dimension_dimension_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE psychometrics.dimension_dimension_id_seq OWNER TO postgres;

--
-- Name: dimension_dimension_id_seq; Type: SEQUENCE OWNED BY; Schema: psychometrics; Owner: postgres
--

ALTER SEQUENCE psychometrics.dimension_dimension_id_seq OWNED BY psychometrics.dimension.dimension_id;


--
-- Name: user_archetype_progress; Type: TABLE; Schema: psychometrics; Owner: postgres
--

CREATE TABLE psychometrics.user_archetype_progress (
    progress_id integer NOT NULL,
    user_id integer,
    archetype_id integer,
    score double precision DEFAULT 0,
    last_update timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE psychometrics.user_archetype_progress OWNER TO postgres;

--
-- Name: user_archetype_progress_progress_id_seq; Type: SEQUENCE; Schema: psychometrics; Owner: postgres
--

CREATE SEQUENCE psychometrics.user_archetype_progress_progress_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE psychometrics.user_archetype_progress_progress_id_seq OWNER TO postgres;

--
-- Name: user_archetype_progress_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: psychometrics; Owner: postgres
--

ALTER SEQUENCE psychometrics.user_archetype_progress_progress_id_seq OWNED BY psychometrics.user_archetype_progress.progress_id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: audit_log audit_id; Type: DEFAULT; Schema: audit; Owner: postgres
--

ALTER TABLE ONLY audit.audit_log ALTER COLUMN audit_id SET DEFAULT nextval('audit.audit_log_audit_id_seq'::regclass);


--
-- Name: app_user user_id; Type: DEFAULT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.app_user ALTER COLUMN user_id SET DEFAULT nextval('auth.app_user_user_id_seq'::regclass);


--
-- Name: session session_id; Type: DEFAULT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.session ALTER COLUMN session_id SET DEFAULT nextval('auth.session_session_id_seq'::regclass);


--
-- Name: user_link link_id; Type: DEFAULT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.user_link ALTER COLUMN link_id SET DEFAULT nextval('auth.user_link_link_id_seq'::regclass);


--
-- Name: notification notification_id; Type: DEFAULT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.notification ALTER COLUMN notification_id SET DEFAULT nextval('communication.notification_notification_id_seq'::regclass);


--
-- Name: institution institution_id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.institution ALTER COLUMN institution_id SET DEFAULT nextval('core.institution_institution_id_seq'::regclass);


--
-- Name: structure structure_id; Type: DEFAULT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.structure ALTER COLUMN structure_id SET DEFAULT nextval('core.structure_structure_id_seq'::regclass);


--
-- Name: content content_id; Type: DEFAULT; Schema: knowledge; Owner: postgres
--

ALTER TABLE ONLY knowledge.content ALTER COLUMN content_id SET DEFAULT nextval('knowledge.content_content_id_seq'::regclass);


--
-- Name: archetype archetype_id; Type: DEFAULT; Schema: psychometrics; Owner: postgres
--

ALTER TABLE ONLY psychometrics.archetype ALTER COLUMN archetype_id SET DEFAULT nextval('psychometrics.archetype_archetype_id_seq'::regclass);


--
-- Name: dimension dimension_id; Type: DEFAULT; Schema: psychometrics; Owner: postgres
--

ALTER TABLE ONLY psychometrics.dimension ALTER COLUMN dimension_id SET DEFAULT nextval('psychometrics.dimension_dimension_id_seq'::regclass);


--
-- Name: user_archetype_progress progress_id; Type: DEFAULT; Schema: psychometrics; Owner: postgres
--

ALTER TABLE ONLY psychometrics.user_archetype_progress ALTER COLUMN progress_id SET DEFAULT nextval('psychometrics.user_archetype_progress_progress_id_seq'::regclass);


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: audit; Owner: postgres
--

COPY audit.audit_log (audit_id, user_id, table_name, record_id, "timestamp", details) FROM stdin;
\.


--
-- Data for Name: app_user; Type: TABLE DATA; Schema: auth; Owner: postgres
--

COPY auth.app_user (user_id, username, email, password_hash, firstname, lastname, role, created_at, active) FROM stdin;
\.


--
-- Data for Name: session; Type: TABLE DATA; Schema: auth; Owner: postgres
--

COPY auth.session (session_id, user_id, token, created_at, expires_at) FROM stdin;
\.


--
-- Data for Name: user_link; Type: TABLE DATA; Schema: auth; Owner: postgres
--

COPY auth.user_link (link_id, id_user_from, id_user_to, link_type, created_at) FROM stdin;
\.


--
-- Data for Name: user_structure; Type: TABLE DATA; Schema: auth; Owner: postgres
--

COPY auth.user_structure (user_id, structure_id) FROM stdin;
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: communication; Owner: postgres
--

COPY communication.notification (notification_id, user_id, title, message, read, created_at) FROM stdin;
\.


--
-- Data for Name: institution; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.institution (institution_id, name, description, created_at) FROM stdin;
\.


--
-- Data for Name: structure; Type: TABLE DATA; Schema: core; Owner: postgres
--

COPY core.structure (structure_id, institution_id, name, parent_id, description, created_at) FROM stdin;
\.


--
-- Data for Name: content; Type: TABLE DATA; Schema: knowledge; Owner: postgres
--

COPY knowledge.content (content_id, title, description, prerequisite_id, created_at) FROM stdin;
\.


--
-- Data for Name: user_content_progress; Type: TABLE DATA; Schema: knowledge; Owner: postgres
--

COPY knowledge.user_content_progress (user_id, content_id, completed, progress, last_update) FROM stdin;
\.


--
-- Data for Name: archetype; Type: TABLE DATA; Schema: psychometrics; Owner: postgres
--

COPY psychometrics.archetype (archetype_id, dimension_id, name, description) FROM stdin;
\.


--
-- Data for Name: dimension; Type: TABLE DATA; Schema: psychometrics; Owner: postgres
--

COPY psychometrics.dimension (dimension_id, name, description) FROM stdin;
\.


--
-- Data for Name: user_archetype_progress; Type: TABLE DATA; Schema: psychometrics; Owner: postgres
--

COPY psychometrics.user_archetype_progress (progress_id, user_id, archetype_id, score, last_update) FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
c650fa1a-ec04-43bc-b764-0d3f50343f7f	2951d79880c9c2840c0e6377d7c3b36cca17e241b85b59e231be91feec7aa0ae	2025-11-23 23:55:34.470253+00	20251123235533_init	\N	\N	2025-11-23 23:55:33.446172+00	1
\.


--
-- Name: audit_log_audit_id_seq; Type: SEQUENCE SET; Schema: audit; Owner: postgres
--

SELECT pg_catalog.setval('audit.audit_log_audit_id_seq', 1, false);


--
-- Name: app_user_user_id_seq; Type: SEQUENCE SET; Schema: auth; Owner: postgres
--

SELECT pg_catalog.setval('auth.app_user_user_id_seq', 1, false);


--
-- Name: session_session_id_seq; Type: SEQUENCE SET; Schema: auth; Owner: postgres
--

SELECT pg_catalog.setval('auth.session_session_id_seq', 1, false);


--
-- Name: user_link_link_id_seq; Type: SEQUENCE SET; Schema: auth; Owner: postgres
--

SELECT pg_catalog.setval('auth.user_link_link_id_seq', 1, false);


--
-- Name: notification_notification_id_seq; Type: SEQUENCE SET; Schema: communication; Owner: postgres
--

SELECT pg_catalog.setval('communication.notification_notification_id_seq', 1, false);


--
-- Name: institution_institution_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.institution_institution_id_seq', 1, false);


--
-- Name: structure_structure_id_seq; Type: SEQUENCE SET; Schema: core; Owner: postgres
--

SELECT pg_catalog.setval('core.structure_structure_id_seq', 1, false);


--
-- Name: content_content_id_seq; Type: SEQUENCE SET; Schema: knowledge; Owner: postgres
--

SELECT pg_catalog.setval('knowledge.content_content_id_seq', 1, false);


--
-- Name: archetype_archetype_id_seq; Type: SEQUENCE SET; Schema: psychometrics; Owner: postgres
--

SELECT pg_catalog.setval('psychometrics.archetype_archetype_id_seq', 1, false);


--
-- Name: dimension_dimension_id_seq; Type: SEQUENCE SET; Schema: psychometrics; Owner: postgres
--

SELECT pg_catalog.setval('psychometrics.dimension_dimension_id_seq', 1, false);


--
-- Name: user_archetype_progress_progress_id_seq; Type: SEQUENCE SET; Schema: psychometrics; Owner: postgres
--

SELECT pg_catalog.setval('psychometrics.user_archetype_progress_progress_id_seq', 1, false);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: audit; Owner: postgres
--

ALTER TABLE ONLY audit.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (audit_id);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (user_id);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (session_id);


--
-- Name: user_link user_link_pkey; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.user_link
    ADD CONSTRAINT user_link_pkey PRIMARY KEY (link_id);


--
-- Name: user_structure user_structure_pkey; Type: CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.user_structure
    ADD CONSTRAINT user_structure_pkey PRIMARY KEY (user_id, structure_id);


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (notification_id);


--
-- Name: institution institution_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.institution
    ADD CONSTRAINT institution_pkey PRIMARY KEY (institution_id);


--
-- Name: structure structure_pkey; Type: CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.structure
    ADD CONSTRAINT structure_pkey PRIMARY KEY (structure_id);


--
-- Name: content content_pkey; Type: CONSTRAINT; Schema: knowledge; Owner: postgres
--

ALTER TABLE ONLY knowledge.content
    ADD CONSTRAINT content_pkey PRIMARY KEY (content_id);


--
-- Name: user_content_progress user_content_progress_pkey; Type: CONSTRAINT; Schema: knowledge; Owner: postgres
--

ALTER TABLE ONLY knowledge.user_content_progress
    ADD CONSTRAINT user_content_progress_pkey PRIMARY KEY (user_id, content_id);


--
-- Name: archetype archetype_pkey; Type: CONSTRAINT; Schema: psychometrics; Owner: postgres
--

ALTER TABLE ONLY psychometrics.archetype
    ADD CONSTRAINT archetype_pkey PRIMARY KEY (archetype_id);


--
-- Name: dimension dimension_pkey; Type: CONSTRAINT; Schema: psychometrics; Owner: postgres
--

ALTER TABLE ONLY psychometrics.dimension
    ADD CONSTRAINT dimension_pkey PRIMARY KEY (dimension_id);


--
-- Name: user_archetype_progress user_archetype_progress_pkey; Type: CONSTRAINT; Schema: psychometrics; Owner: postgres
--

ALTER TABLE ONLY psychometrics.user_archetype_progress
    ADD CONSTRAINT user_archetype_progress_pkey PRIMARY KEY (progress_id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: user_link_id_user_from_id_user_to_link_type_key; Type: INDEX; Schema: auth; Owner: postgres
--

CREATE UNIQUE INDEX user_link_id_user_from_id_user_to_link_type_key ON auth.user_link USING btree (id_user_from, id_user_to, link_type);


--
-- Name: user_archetype_progress_user_id_archetype_id_key; Type: INDEX; Schema: psychometrics; Owner: postgres
--

CREATE UNIQUE INDEX user_archetype_progress_user_id_archetype_id_key ON psychometrics.user_archetype_progress USING btree (user_id, archetype_id);


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: audit; Owner: postgres
--

ALTER TABLE ONLY audit.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.app_user(user_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: session session_user_id_fkey; Type: FK CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.session
    ADD CONSTRAINT session_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.app_user(user_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_link user_link_id_user_from_fkey; Type: FK CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.user_link
    ADD CONSTRAINT user_link_id_user_from_fkey FOREIGN KEY (id_user_from) REFERENCES auth.app_user(user_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_link user_link_id_user_to_fkey; Type: FK CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.user_link
    ADD CONSTRAINT user_link_id_user_to_fkey FOREIGN KEY (id_user_to) REFERENCES auth.app_user(user_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_structure user_structure_structure_id_fkey; Type: FK CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.user_structure
    ADD CONSTRAINT user_structure_structure_id_fkey FOREIGN KEY (structure_id) REFERENCES core.structure(structure_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_structure user_structure_user_id_fkey; Type: FK CONSTRAINT; Schema: auth; Owner: postgres
--

ALTER TABLE ONLY auth.user_structure
    ADD CONSTRAINT user_structure_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.app_user(user_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notification notification_user_id_fkey; Type: FK CONSTRAINT; Schema: communication; Owner: postgres
--

ALTER TABLE ONLY communication.notification
    ADD CONSTRAINT notification_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.app_user(user_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: structure structure_institution_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.structure
    ADD CONSTRAINT structure_institution_id_fkey FOREIGN KEY (institution_id) REFERENCES core.institution(institution_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: structure structure_parent_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: postgres
--

ALTER TABLE ONLY core.structure
    ADD CONSTRAINT structure_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES core.structure(structure_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: content content_prerequisite_id_fkey; Type: FK CONSTRAINT; Schema: knowledge; Owner: postgres
--

ALTER TABLE ONLY knowledge.content
    ADD CONSTRAINT content_prerequisite_id_fkey FOREIGN KEY (prerequisite_id) REFERENCES knowledge.content(content_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_content_progress user_content_progress_content_id_fkey; Type: FK CONSTRAINT; Schema: knowledge; Owner: postgres
--

ALTER TABLE ONLY knowledge.user_content_progress
    ADD CONSTRAINT user_content_progress_content_id_fkey FOREIGN KEY (content_id) REFERENCES knowledge.content(content_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_content_progress user_content_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: knowledge; Owner: postgres
--

ALTER TABLE ONLY knowledge.user_content_progress
    ADD CONSTRAINT user_content_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.app_user(user_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: archetype archetype_dimension_id_fkey; Type: FK CONSTRAINT; Schema: psychometrics; Owner: postgres
--

ALTER TABLE ONLY psychometrics.archetype
    ADD CONSTRAINT archetype_dimension_id_fkey FOREIGN KEY (dimension_id) REFERENCES psychometrics.dimension(dimension_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_archetype_progress user_archetype_progress_archetype_id_fkey; Type: FK CONSTRAINT; Schema: psychometrics; Owner: postgres
--

ALTER TABLE ONLY psychometrics.user_archetype_progress
    ADD CONSTRAINT user_archetype_progress_archetype_id_fkey FOREIGN KEY (archetype_id) REFERENCES psychometrics.archetype(archetype_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_archetype_progress user_archetype_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: psychometrics; Owner: postgres
--

ALTER TABLE ONLY psychometrics.user_archetype_progress
    ADD CONSTRAINT user_archetype_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.app_user(user_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 39TcpO336cL8T5KDGibESVqpCy91TzZRZ4MsGDkZVz3UNol6yhQ5fENyoWsElP4

--
-- PostgreSQL database cluster dump complete
--

